body {
    margin: 0;
}

#content {
    position: relative;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.photo {
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
}

.photo img {
    width: 430px;
    height: 250px;
}

.photo p {
    margin-top: 5px;
}

.photo:nth-child(n + 4) {
    margin-top: 40px;
}



@media screen and (max-width: 1400px) {


    .photo {
        width: 33.33%;
        height: 250px;
    }

    .photo img {
        width: 90%;
        height: 250px;
    }


    .photo:nth-child(n + 4) {
        margin-top: 70px;
    }

}