#content {
    box-sizing: border-box;
    top: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
}

#banner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    margin: auto;
    font-size: 0;
    background: radial-gradient(circle, rgba(49,50,54,1) 0%, rgba(28,29,33,1) 50%);
}

    .inner {
        position: relative;
        width: 1400px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #banner #about {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 45%;
        height: 560px;
        text-align: left;
        color: var(--color-title);
    }

        #about .line {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

            #about .pretitle {
                width: 180px;
                text-transform: uppercase;
                font-size: 35px;
                color: #808287;
            }

            #about .straight_line {
                position: relative;
                width: 100%;
                height: 5px;
                margin-bottom: 5px;
                background: #B2A171;
            }

        #about h1 {
            font-size: 200px;
            font-weight: bold;
            margin: -20px 0 0 0;
            letter-spacing: 5px;
            color: #C5C6C6;
        }

        #about .subtitle {
            position: relative;
            text-align: right;
            align-self: flex-end;
            margin-top: -20px;
            width: 100%;
            color: #B2A171;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: bold;
        }

        #about .title_with_shadow {
            position: relative;
            width: 200px;
            font-size: 17px;
            margin: 0 0 7px 0;
        }

            .tit_bck {
                position: absolute;
                width: 50%;
                height: 100%;
                left: -10px;
                top: 0;
                background: linear-gradient(90deg, rgba(65, 66, 71, 1) 20%, rgba(235,235,235,0) 100%);
                z-index: 0;
            }

            #about .tit_text {
                position: relative;
                margin: 0;
                font-size: 16px;
                z-index: 1;
                color: #C5C6C6;
            }


        #linkers {
            position: absolute;
            box-sizing: border-box;
            padding-left: 20px;
            width: 100%;
            bottom: 0;
        }

            .social_link {
                position: relative;
                display: inline-block;
                font-size: 16px;
                color: #D0D0D0;
                text-decoration: none;
                transition: color 0.2s;
            }

            .social_link:hover {
                color: var(--color-blue);
            }

            .dot {
                position: relative;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #03A7DC;
                margin: 0 15px;
            }




            #banner_image {
                position: relative;
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                padding: 0 120px 90px 120px;
                margin-left: 12%;
                width: 43%;
                height: 560px;
                text-align: center;
            }

                #banner_bck {
                    position: absolute;
                    width: 100%;
                    height: 65%;
                    bottom: 0;
                    left: 0;
                    background: #3A3B40;
                    z-index: 0;
                }

                #banner_image img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                #square_bottom_left {
                    position: absolute;
                    left: -10px;
                    bottom: -4px;
                    width: 25px;
                    height: 25px;
                    background: #03A7DC;
                }

                #squares_top_right {
                    position: absolute;
                    right: 0;
                    top: -16px;
                    width: 8px;
                    height: auto;
                }

                .square_right {
                    position: relative;
                    display: block;
                    background: #D1D1D1;
                    width: 100%;
                    height: 8px;
                    margin-bottom: 8px;
                }

                .square_right:first-child {
                    background: #03A7DC;
                }

                .square_right:last-child {
                    margin-bottom: 0;
                }



#right_styling {
    position: absolute;
    width: 18px;
    height: 560px;
    right: 0;
    top: 0;
    padding-top: 200px;
}

    #square_list {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 200px;
    }

    .right_one {
        position: relative;
        display: block;
        width: 100%;
        height: 20%;
        background: #03A7DC;
    }

    .right_two {
        position: relative;
        display: block;
        width: 100%;
        height: 30%;
        margin: 80% 0;
        background: #ccc;
    }

    .straight_line {
        position: relative;
        width: 150px;
        height: 5px;
        margin-bottom: 5px;
        background: var(--color-title);
    }