:root {
    --color-blue: #2BA8D6;
    --color-title: #595959;

    --color-default: #C5C6C6;
    --color-gray: #808287;
    --color-gold: #B2A171;


    --font-size-big: 22px;
    --font-size-title: 18px;
    --font-size-normal: 15px;
    --font-size-smaller: 14px;
    --font-size-phone: 13px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: var(--color-default);
}

*, *:after, *:before {
    line-height: 1.2;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

b {
    color: #03A7DC;
    font-weight: normal;
}
